.about-section-values{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.values-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.value-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.value-card p{
  width: 66%;
  text-align: center;
}