.contact-info h2 {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1rem;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.contact-info li {
  margin-bottom: 15px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.contact-info li i {
  margin-right: 10px;
  color: #3498db;
}

.contact-info a {
  color: #3498db;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
