.portfolio-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2e2d0;
}

.project-selector-mobile {
  display: none;
  padding: .6rem;

  background-color: #ff6347;
}
  .project-selector-mobile h2{
    color: #f2e2d0;
  }



.portfolio-layout {
  display: flex;
  align-items: flex-start;
}

/* Responsive behavior */
@media (max-width: 768px) {
  .portfolio-layout {
    flex-direction: column;
  }

  .project-selector-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
  }
.project-selector-mobile h2{
  font-size: 18px;
}
  .sidebar {
    display: none;
  }
}
