/* Logo container */

.logo{
  background-image: url(../../../images/logo/logo.svg);
  background-size: cover;

  width: 120px;
  height: 120px;

  transition: all .6s ease-in-out;
}

.logo:hover{
  background-image: url(../../../images/logo/logo-hover.svg);
}